@font-face{
	font-family: 'myFont';
	src: url('../fonts/desgaste.ttf');
	src: url('../fonts/desgaste.ttf') format('truetype');
	src: url('../fonts/desgaste.eot') format('embedded-opentype');

	
}

.logo{
	padding-top: 10px;
	padding-bottom: 1px;
	display: block;
	margin: 0 auto;
	float: none;
	
}
.social{
	
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
	float: right;
	display: block;
	padding-right:20px;
}

.headlogo{
	
	background: black;

	

}
.navbar-inverse .navbar-nav > li > a {

	color:white;
	font-family: monospace, Times, serif;
	font-size: 1.5em;
	padding-left: 0px;
	padding-right:40px;
	
}

.navbar-nav{
	width:100%;
	
}

.navbar-inverse .navbar-nav > .active > a{
	
	color:#3b49ac;
	background:none;
	font-size: 1.5em;
	
}
.navbar-inverse .navbar-nav > .active > a:hover {
	
	color: white;
	background:none;
	
	
}
.navbar-inverse .navbar-nav > li > a:hover {
	
	color:#3b49ac;
	

}
.bottomtext .navbar-nav > li > a:hover {
	
	color:white;
	background:none;
}
.bottomtext .navbar-nav > li > a{
	
	color:#3b49ac;
}
.navbar-toggle{
	
	border: none;
}

.carousel-inner{
text-align: center;
float:none;

border: black 1px solid;
top:-20px;


}

.carousel-inner > .item{
	
	
	float:center;
	
}

.carousel-caption{

	font-family: "Modern 20", sans-serif;
}	
	
.bodyarea{
	
	background-color: #222222;
	color:white;
	margin-top:-20px;
	text-align: center;
}
.bodytexts{
	 
	 line-height: 180%;
	 font-size:  1.3em;
	 background-color: #222222;
	 color:white;
	 padding-left: 70px;
	 padding-right: 70px;
	 padding-top:20px;
	 padding-bottom:20px;
	 box-shadow: 0 0 20px #222222;
	
}
.bodybox{
	
	 background-color: #222222;
	 color:white;
	 margin-top: -10px;
	 padding-left: 70px;
	 padding-right: 70px;
	 padding-top:20px;
	 padding-bottom:35px;
	 text-align: center;
	 box-shadow: 0 0 20px #222222;
}
.bodyboxalt{
	
	 background-color: black;
	 color:white;
	 margin-top: -10px;
	 padding-left: 70px;
	 padding-right: 70px;
	 padding-top:20px;
	 padding-bottom:35px;
	 text-align: center;
	 box-shadow: 0 0 20px #222222;
	 border-top: #3b49ac 1px solid;
	 border-bottom: #3b49ac 1px solid;
}
.bodyboxheader{
	
	 background-color: #3b49ac;
	 color:white;
	 padding-left: 70px;
	 padding-right: 70px;
	 padding-top:5px;
	 padding-bottom: 20px;
	 text-align: center;
	 box-shadow: 0 0 20px #222222;
	
}

.bottomtext{
	
	line-height: 60%;
	background-color: #222222;
	color:white;	
	padding-top:15px;
	text-align: center;
	font-size: .8em;
}
body{
	
	background-image: url(../img/smoke.jpg);
	background-size: cover;
	
}

.bodyimages{
	
	position: relative;
	display: inline-block;
	text-align: center;
	border-radius: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	overflow:hidden;
	border: 3px #3b49ac;
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
}
.bodyimages:hover{
	
	box-shadow: 0 0 45px #3b49ac;
	-webkit-box-shadow: 0 0 45px #3b49ac;
	-moz-box-shadow: 0 0 45px #3b49ac;
	
	
}

.bodyimages  > figcaption{
	
	position: absolute;
	bottom:100px;
	right:10px;
	left:10px;
	font-size: 5em;
	font-family:"impact"
	
}

.bodyimages > a > button{
	
	position: absolute;
	bottom: 80px;
	right:100px;
	left:135px;
	background: #3b49ac;
	border: 1px white;
	color:white;
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	font-family: sans-serif;
	
}
.bodyimages > a > button:hover{
	
	background: #4d5fdc;
	color:white;
	
}

.bodyimagecontainer{
	
	padding-top: 25px;
	padding-bottom: 25px;
	
}
.smallfont{	
	
	font-size: 1.2em;
	color: #4d5fdc;
	
}
	
.notused{
	
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.62) 0%, rgba(111,111,111,0) 31%, rgba(255,255,255,0.36) 71%, rgba(0,0,0,0.62) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.62)), color-stop(31%,rgba(111,111,111,0)), color-stop(71%,rgba(255,255,255,0.36)), color-stop(100%,rgba(0,0,0,0.62))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.62) 0%,rgba(111,111,111,0) 31%,rgba(255,255,255,0.36) 71%,rgba(0,0,0,0.62) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.62) 0%,rgba(111,111,111,0) 31%,rgba(255,255,255,0.36) 71%,rgba(0,0,0,0.62) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.62) 0%,rgba(111,111,111,0) 31%,rgba(255,255,255,0.36) 71%,rgba(0,0,0,0.62) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.62) 0%,rgba(111,111,111,0) 31%,rgba(255,255,255,0.36) 71%,rgba(0,0,0,0.62) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e000000', endColorstr='#9e000000',GradientType=1 ); /* IE6-9 */
	
}

