@font-face{
	font-family: 'myFont';
	src: url('../fonts/desgaste.ttf');
	src: url('../fonts/desgaste.ttf') format('truetype');
	src: url('../fonts/desgaste.eot') format('embedded-opentype');

	
}

.logo{
	padding-top: 20px;
	padding-bottom: 4px;
	display: block;
	margin: 0 auto;
	float: none;
	
}
.social{
	
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
	float: right;
	display: block;
	padding-right:20px;
}

.headlogo{
	
	background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	

}
.navbar-inverse .navbar-nav > li > a {

	color:white;
	font-family: monospace, Times, serif;
	font-size: 1.5em;
	padding-left: 0px;
	padding-right:40px;
	
}

.navbar-nav{
	width:100%;
	
}

.navbar-inverse .navbar-nav > .active > a{
	
	color:#3b49ac;
	background:none;
	font-size: 1.5em;
	
}
.navbar-inverse .navbar-nav > .active > a:hover {
	
	color: white;
	background:none;
	
	
}
.navbar-inverse .navbar-nav > li > a:hover {
	
	color:#3b49ac;
	

}

.navbar-toggle{
	
	border: none;
}

.carousel-inner{
text-align: center;
float:none;

border: black 1px solid;
top:-20px;


}

.carousel-inner > .item{
	
	
	float:center;
	
}

.carousel-caption{

	font-family: "Modern 20", sans-serif;
}	
	
.bodyarea{
	
	background-color: #222222;
	color:white;
	margin-top:-20px;
	text-align: center;
}
.bodytexts{
	
	 background-color: #222222;
	 color:white;
	 margin-top: -10px;
	 padding-left: 70px;
	 padding-right: 70px;
	 padding-top:20px;
	 box-shadow: 0 0 20px #222222;
	
}
.bodybox{
	
	 background-color: #222222;
	 color:white;
	 margin-top: -10px;
	 padding-left: 70px;
	 padding-right: 70px;
	 padding-top:20px;
	 text-align: center;
	 box-shadow: 0 0 20px #222222;
}

.bottomtext{
	
	background-color: #222222;
	color:white;	
	margin-top: -10px;
	padding-top:50px;
	text-align: center;
	font-size: .8em;
}
body{
	
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.62) 0%, rgba(111,111,111,0) 31%, rgba(255,255,255,0.36) 71%, rgba(0,0,0,0.62) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.62)), color-stop(31%,rgba(111,111,111,0)), color-stop(71%,rgba(255,255,255,0.36)), color-stop(100%,rgba(0,0,0,0.62))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.62) 0%,rgba(111,111,111,0) 31%,rgba(255,255,255,0.36) 71%,rgba(0,0,0,0.62) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.62) 0%,rgba(111,111,111,0) 31%,rgba(255,255,255,0.36) 71%,rgba(0,0,0,0.62) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.62) 0%,rgba(111,111,111,0) 31%,rgba(255,255,255,0.36) 71%,rgba(0,0,0,0.62) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.62) 0%,rgba(111,111,111,0) 31%,rgba(255,255,255,0.36) 71%,rgba(0,0,0,0.62) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e000000', endColorstr='#9e000000',GradientType=1 ); /* IE6-9 */
	
}